.inline {
    display:inline;
}
h3{
    color: #1100ff;
}
h1{
    color: #ff0;
}
h4{
    color: #ff0000;
}
body{
    background-image: url(pixlr-image-generator-2c534b8c-38eb-44b8-86fa-fa2e03374a49.png);
}
h2{
    color: #ff0000;
}
.rename {
    color: #000000;
    background-color: #ffff00;
    border: none;
    outline: none;
    transition: 0.5s;
}
.rename h1{
    color: #fff;
    transition: 0.5s;
}
.rename:hover {
    color: #ffff00;
    background-color: white;
    border-radius: 25px 25px 25px 25px;
}
.rename:hover h1{
    color: #ffff00;
}